*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(139, 206, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: rgb(241, 164, 164);
    padding: 20px;
    border-radius: 10px;
}

.calculator form .display input{
    border: 0;
    outline: 0;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    /* background: transparent; */
    background-color: rgba(206, 26, 86, 0.397);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-weight: 300;
}

 form input.equal{
    width: 145px;
    color: rgb(194, 0, 65);
}

form .row1 input{
    color: rgb(194, 0, 65);
}

form input.operator{
    color: rgb(194, 0, 65);
}